html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:after, *_before{
    box-sizing: inherit;
}

body{
    margin:0;
    font-family: Roboto;
}

.contenedor-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lista-productos{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr; ESTO es lo mismo que lo de abajo:*/
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.producto{
    background-color: aqua;
}

.producto:nth-child(1){ /*para seleccionar un hijo*/
    background-color: blue;
    /*grid-column: 1/3; es lo mismo que las 2 lineas de abajo:
*/
    grid-column-start: 1;
    grid-column-end: 3;
}
